<% provide(:title, 'All Teams') %>
<h1>All Teams</h1>
<%= will_paginate %>
<ul class="teams">
  <% @teams.each do |team| %>
    <li>
      <%= link_to team.name, team %>
      (<%= team.members.count %> members)
    </li>
  <% end %>
</ul>
<%= will_paginate %>
